<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TLDR-link</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <h1>TLDR - link</h1>
    </header>
    <main>
      <div class="main-info">
        <p>
          TLDR-link is a free tool to shorten and create an easy to share URL
        </p>
      </div>
      <form action="/shortUrls" method="post">
        <input
          placeholder="Url"
          type="url"
          name="fullUrl"
          id="fullUrl"
          required
        />
        <button id="submit-btn" type="submit">SHRINK</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>Full url</th>
            <th>Short Url</th>
            <th>Qr</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(url => { %>
          <tr>
            <td>
              <a href="<%= url.full %>"><%= url.full %></a>
            </td>
            <td>
              <a href="<%= url.short %>"><%= url.short %></a>
            </td>
            <td>
              <img
                src="<%= url.qrImage + url.short %>"
                alt="qr-code"
                class="qr-code-img"
              />
            </td>
            <td><%= url.clicks %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
