<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TLDR-link</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Imprima&family=Lalezar&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <h1>TLDR</h1>
      <img src="./link.png" alt="chain link" />
      <h1>link</h1>
    </header>
    <main>
      <div class="main-info">
        <p>
          TLDR-link is a free tool to shorten and create an easy to share URL
        </p>
      </div>
      <form action="/shortUrls" method="post">
        <input
          placeholder="Url"
          type="url"
          name="fullUrl"
          id="fullUrl"
          required
        />

        <div class="btn-holder">
          <button id="submit-btn" type="submit">SHRINK</button>
        </div>
      </form>

      <table>
        <thead>
          <tr>
            <td>Original url</td>
            <td>Short Url</td>
            <td>Clicks</td>
            <td>QR code</td>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(url => { %>
          <tr>
            <td>
              <a href="<%= url.full %>"><%= url.full %></a>
            </td>
            <td>
              <a class="short-urls" href="<%= url.short %>"><%= url.short %></a>
            </td>
            <td><%= url.clicks %></td>
            <td>
              <img
                src="<%= url.qrImage + url.short %>"
                alt="qr-code"
                class="qr-code-img"
              />
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
